
  .main-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 50px;
    background: linear-gradient(to right bottom, #4b7bec, #0fb9b1);
    color: #fff;
  }

  .main-header {
    h1 {
      flex: 2;
      font-size: 20px;
    }

    a {
      color: inherit;
    }
  }