.footer {
    font-size: 12px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    flex-wrap: wrap;
}

.list-contacts {
    display: flex;
    gap: 20px;
    list-style: none;

    * {
        display: block
    }
}